<div class="container-fluid d-flex justify-content-center footer">
    <div class="container w-75 d-flex justify-content-between contenedorFooter">

       <a href="#inicio"><i class="bi bi-arrow-up flechaUp"></i></a>

        <div class="align-items-end ContenedorBoxFooter">
            <div class="d-flex flex-column boxFooter">
                <h3>compañia</h3>
                <a href="/" class="textoFooter">comercio</a>
                <a href="/diseniadores" class="textoFooter">diseñadores</a>
                <a href="/contacto" class="textoFooter">contacto</a>
                <a href="/carreras" class="textoFooter">carreras</a>

            </div>
            <div class="d-flex flex-column boxFooter">
                <h3>nuestras redes</h3>
                <a href="https://www.facebook.com/" target="_blank" class="textoFooter">facebook</a>
                <a href="https://web.telegram.org/" target="_blank" class="textoFooter">telegram</a>
                <a href="https://www.instagram.com/" target="_blank" class="textoFooter">instagram</a>
                <a href="https://www.tiktok.com/es/" target="_blank" class="textoFooter">tik tok</a>
            </div>
            <div class="d-flex flex-column boxFooter">
                <h3>términos</h3>

                <%-include('../inicio/terminosycondiciones.ejs') %>
                <%-include('../inicio/politicaprivacidad.ejs') %>
                <%-include('../inicio/terminospago.ejs') %>
                <%-include('../inicio/terminosenvio.ejs') %>
            </div>
            <div class="copyright">
                <p>©Copyrigth 2023. Mommolights. Todos los derechos reservados diseñado por Mommolights<a href="https://www.instagram.com/" target="_blank">(@mommolights)</a></p>
            </div>

        </div>
    </div>
    

</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>


<script src="/js/header.js"></script>

</body>

</html>