<%-include('./head.ejs') %>


<div class="container-fluid d-flex justify-content-center header" id="headerBg">
    <div class="container w-75 d-flex contenedorHeader">
        <nav class='d-flex justify-content-between headerNavbar'>
            <ul class="navLeft active" id="navLeft">
                <li>
                    <a href="/" class="enlaces">
                        comercio
                    </a>
                </li>
                <li>
                    <a href="/diseniadores" class="enlaces">
                        diseñadores
                    </a>
                </li>
                <li>
                    <a href="/" class="enlaces">
                        contacto
                    </a>
                </li>
            </ul>

            <h1 class="logo" id="logo"><a href="/">mommolights</a></h1>

            <ul class="navRight">
                <li>
                    <a href="/" class="enlaces" id="enlaces">
                        buscar
                    </a>
                </li>
                <li>
                    <a href="/" class="enlaces" id="enlaces">
                        carro(0)
                    </a>
                </li>

            </ul>
        </nav>

        <div class="hamburguesa" id="hamburguesa">
            <div class="icon nav-icon-5 hamburguesa">
                <span id="icon"></span>
                <span id="icon"></span>
                <span id="icon"></span>
            </div>
        </div>
    </div>
</div>

