<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous'>
    <link rel="stylesheet" href="/estilos/estilos.css">
    <link rel="stylesheet" href="/estilos/estilosPrincipales.css">
    <link rel="stylesheet" href="/estilos/header.css">
    <link rel="stylesheet" href="/estilos/hamburguesa.css">
    <link rel="stylesheet" href="/estilos/hero.css">
    <link rel="stylesheet" href="/estilos/bestseller.css">
    <link rel="stylesheet" href="/estilos/saleofcollection.css">
    <link rel="stylesheet" href="/estilos/bestdesigner.css">
    <link rel="stylesheet" href="/estilos/newCollection.css">
    <link rel="stylesheet" href="/estilos/productypes.css">
    <link rel="stylesheet" href="/estilos/ourEmotions.css">
    <link rel="stylesheet" href="/estilos/signup.css">
    <link rel="stylesheet" href="/estilos/footer.css">
    <link rel="stylesheet" href="/estilos/error.css">
    <link rel="stylesheet" href="/estilos/diseniadores.css">
    <link rel="stylesheet" href="/estilos/carreras.css">
    <title>Mommolights</title>
</head>
<body>
    

