<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" href="/img/ico/1.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous'>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/estilosPrincipales.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/hamburguesa.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/bestseller.css">
    <link rel="stylesheet" href="/css/saleofcollection.css">
    <link rel="stylesheet" href="/css/bestdesigner.css">
    <link rel="stylesheet" href="/css/newCollection.css">
    <link rel="stylesheet" href="/css/productypes.css">
    <link rel="stylesheet" href="/css/ourEmotions.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/comercio.css">
    <link rel="stylesheet" href="/css/diseniadores.css">
    <link rel="stylesheet" href="/css/carreras.css">
    <link rel="stylesheet" href="/css/buscador.css">
    <link rel="stylesheet" href="/css/paginaProducto.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/registrar.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>Mommolights</title>
</head>
<body>
    

