<div class="boxLamps">
    <img src="/img/Lamparas/lampara.jpg" alt="" />
    <p class="medidas">{medidas}</p>
    <div class="contenedorTextos">
      <p class="marca">{marca}</p>
      <p class="precio">${precioActual}</p>
      <p class="precioAntes">{precio}</p>
      <p class="creador">{creador}</p>
      <p class="descripcion">{descripcion producto} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quos, minus doloremque molestias consectetur possimus alias ipsum quia, ducimus ab debitis dolores autem, ratione dolorum quidem! Id architecto illum reprehenderit?</p>
    </div>
</div>