<div class="boxLamps">
    <img src="/img/Lamparas/lampara.jpg" alt="" />
    <p class="medidas">{medidas}</p>
    <div class="contenedorTextos">
      <p class="marca">{marca}</p>
      <p class="precio">${precioActual}</p>
      <p class="precioAntes">{precio}</p>
      <p class="creador">{creador}</p>
    </div>
</div>