.boxLeftDiseniador,
.boxRightDiseniador {
    height: auto;
    padding-bottom: 4%;
    cursor: pointer;
}

.boxLeftDiseniador img,
.boxRightDiseniador img {
    height: 65%;
    object-fit: cover;
}

.boxLeftDiseniador {
    width: 40%;
    height: auto;
    margin-right: 8%;
}

.boxRightDiseniador {
    width: 50%;
}

.nombreDiseniador {
    color: var(--ColorTextoSecundario);
}

.descripcionDiseniador {
    color: #000;
    font-size: 12px;
    font-weight: 600;
}