.footer {
    background-color: var(--ColorFooter);
    height: auto;
}

.contenedorFooter {
    position: relative;
    align-items: flex-end;
    font-family: 'Inter', sans-serif;
    padding: 10% 0;
}

.flechaUp {
    font-size: 24px;
    position: absolute;
    top: 15%;
    right: 2%;
    padding: 4px 10px;
    cursor: pointer;
    color: var(--ColorTextoPrincipal);
    border: 1px solid var(--ColorTextoPrincipal);
}
.flechaUp:hover {
    color: var(--ColorTextoSecundario);
    border: 1px solid var(--ColorTextoSecundario);
}


.ContenedorBoxFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.boxFooter{
    gap: 14px;
}
.boxFooter h3{
    color: var(--ColorTextoPrincipal);
    padding-bottom: 2%;
    font-size: 1rem;
}
.textoFooter{
    color: var(--ColorTextoPrincipal);
    text-decoration: none;
    font-size: .75rem;
}

.textoFooter:focus {
  color: var(--ColorTextoPrincipal); 
}

.modal-title{
    color:var(--ColorFooter);
    font-weight: bold;
}
.modal-body p{
    font-size: 12px;
    color: #000;
}
.modal-body span{
    font-weight: bold;
    font-size: 14px;
    display: block;
    padding: 2px 0;
}

.textoFooter:hover{
    color: var(--ColorTextoSecundario);
}

.copyright {
    font-size: .75rem;
    width: 35%;
    line-height: 1.75rem;
}

.copyright p{
    color: var(--ColorTextoPrincipal);
    margin-bottom: 0;
}
.copyright a:hover{
    color: var(--ColorTextoSecundario);
}



@media(max-width:768px) {
    .boxFooter {
        width: 50%;
        margin-bottom: 5%;
    }

    .boxFooter:nth-child(3) {
        margin-bottom: 2%;
    }

    .copyright {
        width: 50%;
    }
}

@media(max-width:400px) {
    .ContenedorBoxFooter {
        flex-direction: column;
        gap: 1.25rem;
    }

    .boxFooter {
        width: 100%;

    }

    .copyright {
        width: 100%;
    }
}