<%-include('./partials/head.ejs') %>
<%-include('./partials/header.ejs') %>

<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container w-75 contenedorSecundario diseniadores">
        <h1>contacto</h1>
    </div>
</div>





<script src="/js/main.js"></script>