<form class="row g-3">    
    <div class="col-md-6">
      <label for="inputApellido" class="form-label">Apellido</label>
      <input type="email" class="form-control" id="inputApellido">
    </div>
    <div class="col-md-6">
      <label for="inputNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="inputNombre">
    </div>
    <div class="col-12">
        <label for="inputMail" class="form-label">Mail</label>
    </div>
    <div class="col-md-6">
        <label class="visually-hidden" for="autoSizingInput">Name</label>
        <input type="text" class="form-control" id="autoSizingInput" placeholder="NN">
      </div>
    <div class="col-md-6">
        <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="gmail.com">
        </div>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="col-12">
      <label for="inputMensaje" class="form-label">Mensaje</label>
      <textarea class="form-control" id="inputMensaje"></textarea>
      
    </div>
    <div class="col-md-6">
      <label for="inputProv" class="form-label">Provincia</label>
      <input type="text" class="form-control" id="inputProv">
    </div>
    <div class="col-md-4">
        <label for="inputLoc" class="form-label">Localidad</label>
        <input type="text" class="form-control" id="inputLoc">
    </div>
    <div class="col-md-2">
      <label for="inputCP" class="form-label">C.P.</label>
      <input type="text" class="form-control" id="inputCP">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
  </form>