<%-include('./partials/head.ejs') %>
    <%-include('./partials/header.ejs') %>


        <div class="container-fluid d-flex justify-content-center error">
            <div class="container w-75 d-flex contenedorError">
                <div class="textoError">
                    <h1>Ups! Está oscuro <br> y no hay nada</h1>
                    <p>Estás en una página que no existe. Es posible que hayas ingresado la dirección incorrecta.
                        ¡Apresúrate a volver a la luz!</p>
                    <a href="/" class="btnCatalog">volver</a>
                </div>
                
                <p class="copyrigthError">©Copyrigth 2023. Mommolights. Todos los derechos reservados.</p>
                
            </div>

        </div>

<script src="/js/header.js"></script>  
<script src="/js/error.js"></script>  