<!--
    <% if(login) { %>
    <h1>El usuario contectado es: <strong><%= name %></strong></h1>
    <a href="logout" class="a-logout">Salir</a>
  <%} else {%>
       <h1>><strong><%= name %></strong></h1>
       <a href="login" class="a-login">Ir al Login</a>
       <%}%>  
  </div>-->

<div class="inicio">  
  <div class=“”>
    <img src="resources/img/hero11.png" class="img-fluid" alt="...">
    <a href="/shop" class="btn btn-light ubicacion"><strong>Catalogo</strong></a>
    <!--<img class="img-fluid top-img" src="resources/img/hero22.png" alt="" />-->    
  </div>  
  <div>
    <% if(login) { %>
      <p class="parrafoSession">El usuario contectado es: <strong><%= name %></strong></p>
      <a class="parrafoSession" href="logout" class="a-logout">Salir</a>
        <% if(carrito) { %>
        <a href="carrito" class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-handbag-fill" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 1 1 6 0v2h-1V3a2 2 0 0 0-2-2zM5 5H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0V5z"/>
          </svg><strong><%= cantidad %></strong></a>       
        <%}%>
    <%}%>  
      </div>
</div>
