.comercio{
    margin-top: 3.5rem;
}

.contenedorComercio{
    margin-top: 2rem;
    padding-bottom: 5rem;
    border-top: 1px solid #999;
}
.vistasProductos{
    width: 100%;
    gap: 1rem;
}

#grilla,#lista{
    color: #999;
    font-size: 1.25rem;
}

#grilla:hover,
#lista:hover{
    color: var(--ColorTextoSecundario);
}

/* filtros */
.aside{
    width: 23%;
    margin-top: 1rem;
}

.aside>a{
    color: var(--ColorTextoSecundario);
    font-weight: 600;
}

/* range */


/* precio */
.filtroPrecio{
    display: flex;
    justify-content: space-between;
}
.filtroPrecio>input{
    width: 35%;
    padding: 8px 14px;
    background-color: var(--ColorTextoPrincipal);
    border: 1px solid #999;
    outline-color: var(--ColorTextoSecundario);

}
.filtroPrecio>i{
    font-size: 25px;
}
/* tipo lampara */
.filtroTipos,
.filtroDiseniadores,
.filtroBateria,
.filtroColores{
    gap: .625rem;
}

/* cambio color inputs */
.filtroCheckbox,.checkboxColor{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    appearance: none;
    border: 1px solid #999;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");

}
.filtroCheckbox:checked {
    cursor: pointer;
    background-color: var(--ColorTextoSecundario);
    border: 2px solid var(--ColorTextoSecundario);
  }

  .baterias{
    margin-right: 1rem;
  }

  

/* filtro segun colores */
.checkboxColor.negro {
    background-color: #000;
    background-image: none;
}

.negro:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkboxColor.gris {
    background-color: #999;
    background-image: none;
}

.gris:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.checkboxColor.salmon {
    background-color: #daa0a0;
    background-image: none;
}
.salmon:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkboxColor.naranja {
    background-color: var(--ColorTextoSecundario);
    background-image: none;
}
.naranja:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkboxColor.verde {
    background-color: #27ad6c;
    background-image: none;
}
.verde:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkboxColor.rosa {
    background-color: #f4227a;
    background-image: none;
}
.rosa:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkboxColor.violeta {
    background-color: #8928b0;
    background-image: none;
}

.violeta:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.checkboxColor.rojo {
    background-color: #f00000;
    background-image: none;
}

.rojo:checked{
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* catalogo */
.boxProductos{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
/* Vista de grilla */
.boxProductos.grilla {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
  }
  
  .boxProductos.grilla .boxLamps {
    width: 32%;
  }
  
  .boxProductos.grilla .boxLamps:nth-child(4) {
    width: 65%;
  }
  
  .boxProductos.grilla .boxLamps:nth-child(9) {
    width: 100%;
  }
  

/* Productos vista lista */
.boxProductos.lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }