.contenedorBSellers{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-top: 1.25rem;
}
.bsellersItem{
    width: 24%;
    margin-bottom: .625rem;
    cursor: pointer;
}
.bsellersItem:nth-child(6){
    visibility: hidden;
}


@media(max-width:900px){
    .contenedorBSellers{
        padding-top: 5rem;
    }
    .bsellersItem{
        width: 47.7%;
    }
    .bsellersItem .precio{
        text-align: end;
    }
    .bsellersItem:nth-child(6){
        display: none;
    }
    .bsellersItem:last-child{
        width: 100%;
    }
}
@media(max-width:500px){
    .bsellersItem{
        width: 100%;
    }
}

@media(max-width:360px){
    .bsellersItem .contenedorTextos{
        flex-direction: column;
        gap: 2px;
    }
    .bsellersItem .precio{
        text-align: start;
    }
}