body{
    background-color: #c6a94f;
}

.top-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .4s ease;
    margin-top: 55px;
    margin-left: 75px;
    /*width: 1100px;
    height: 585px;  */
  }

  .top-img:hover{
    opacity: 1;
  }

  .btn-register{
    margin-top: 15px;
    background-color: dimgrey;
    color: #ffffff;
  }

  .inicio{
    display: flex;
  }