<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container  w-75 contenedorSecundario">
        <h1>mejores diseñadores del mes</h1>
        <div class="d-flex justify-content-between contenedorBSellers">
            <!-- aplicar ciclo for, son 2 diseñadores con mejores ventas-->
            <div class="boxLamps boxLeftDiseniador">
                <img src="/img/Lamparas/lampara.jpg" alt="">
                <div class="contenedorTextos">
                    <p class="marca nombreDiseniador">nombre diseñador</p>
                    <p class="descripcionDiseniador">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi, velit dolores aliquid earum optio assumenda error nihil laborum tempora accusamus, ratione at similique tempore totam iure officiis rem maxime.</p>
                </div>
            </div>
           
        </div>
    </div>
</div>