<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
  <div class="container w-75 contenedorSecundario">
    <h1>mejores ventas de Space Copenhagen</h1>
    <div class="d-flex justify-content-between contenedorBox">
      <div class="boxLeft">
        <div class="boxLamps">
          <img src="/img/Lamparas/lampara.jpg" alt="" />
          <p class="medidas">{medidas}</p>
          <div class="contenedorTextos">
            <p class="marca">{marca}</p>
            <p class="precio">${precioActual}</p>
            <p class="precioAntes">{precio}</p>
            <p class="creador">{creador}</p>
          </div>
        </div>
      </div>

      <div class="boxRight">
        <div class="boxLamps">
          <img src="/img/Lamparas/lampara.jpg" alt="" />
          <p class="medidas">{medidas}</p>
          <div class="contenedorTextos">
            <p class="marca">{marca}</p>
            <p class="precio">${precioActual}</p>
            <p class="precioAntes">{precio}</p>
            <p class="creador">{creador}</p>
          </div>
        </div>
      </div>
      <div class="boxRight">
        <div class="boxLamps">
          <img src="/img/Lamparas/lampara.jpg" alt="" />
          <p class="medidas">{medidas}</p>
          <div class="contenedorTextos">
            <p class="marca">{marca}</p>
            <p class="precio">${precioActual}</p>
            <p class="precioAntes">{precio}</p>
            <p class="creador">{creador}</p>
          </div>
        </div>
      </div>


      <div class="contenedorTextoBD">
        <p><span class="nombre">Space Copenhagen</span>, fundado en 2005 por Peter Bundgaard Rützou y Signe Bindslev
          Henriksen, es un estudio de diseño que trabaja en diversas disciplinas, desde muebles, iluminación y objetos
          refinados, hasta dirección de arte y diseño de interiores para hogares privados, hoteles y restaurantes en
          todo el mundo.</p>
        <a href="/" class="btnBoxDown">ver más</a>
      </div>
      <div class="boxDown">
        <div class="boxLamps">
          <img src="/img/Lamparas/lampara.jpg" alt="" />
          <p class="medidas">{medidas}</p>
          <div class="contenedorTextos">
            <p class="marca">{marca}</p>
            <p class="precio">${precioActual}</p>
            <p class="precioAntes">{precio}</p>
            <p class="creador">{creador}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>