<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
  <div class="container w-75 contenedorSecundario">
    <h1>mejores ventas de Space Copenhagen</h1>
    <div class="d-flex justify-content-between contenedorBox">
        <%-include('../lampProduct.ejs',{products:products_bestSellers, clase:'boxLampsBestSeller'})%>
      <div class="contenedorTextoBD">
        <p><span class="nombreStudio">Space Copenhagen</span>, fundado en 2005 por Peter Bundgaard Rützou y Signe Bindslev
          Henriksen, es un estudio de diseño que trabaja en diversas disciplinas, desde muebles, iluminación y objetos
          refinados, hasta dirección de arte y diseño de interiores para hogares privados, hoteles y restaurantes en
          todo el mundo.</p>
        <a href="/" class="btnBoxDown">ver más</a>
      </div>
    </div>
  </div>
</div>