<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container  w-75 contenedorSecundario">
        <h1>mejores diseñadores del mes</h1>
        <div class="d-flex justify-content-between contenedorBSellers">
                <%-include('../lampProduct.ejs',{products:products_bestDesigners, clase:'boxBestDiseniador'})%>           
        </div>
    </div>
</div>