<div class="container-fluid hero" id="inicio">
    <div class="container w-75 contenedorHero">
        <h1 class="titleHero">
            lamparas de diseño
        </h1>
        <div class="d-flex justify-content-between contenedorLamp">
            <div class="contenedorLampsLeft">

                <div class="contenedorInfo">
                    <img src="/img/Lamparas/Hero/lamp 1 off.png" alt="Raku SH9" class="firstImgHero"/>
                    <div class="d-flex justify-content-center contenedorTextoIluminacion">
                        <div class="contenedorTexto" id="firstLamp">
                            <p class="nombreLamp">Raku SH9</p>
                            <p class="diseñador">Mark Herkner</p>
                            <p class="medidas">8.3in x 16.3in</p>
                            <p class="precio">$42.99</p>
                        </div>
                        <div class="iluminacion iluminadionFirstImg"></div>
                    </div>
                    
                </div>
                <div class="contenedorInfo">
                    <img src="/img/Lamparas/Hero/lamp 2.png" alt="Flowerpot VP9" class="secondImgHero"/>
                    <div class="d-flex justify-content-center contenedorTextoIluminacion">
                        <div class="contenedorTexto">
                            <p class="nombreLamp">Flowerpot VP9</p>
                            <p class="diseñador">Verner Panton</p>
                            <p class="medidas">6.29in x 11.6in</p>
                            <p class="precio">$34.99</p>
                        </div>
                        <div class="iluminacion"></div>
                    </div>
                    
                </div>

            </div>
            <div class="lampRight">
                <img src="/img/Lamparas/Hero/lamp 3.png" alt="" />
                <p class="textoHero">
                    Nuestro portafolio único de iluminación abarca diseños desde la década de 1960 hasta la actualidad e
                    incluye objetos de diseño interior creados por famosos diseñadores.
                </p>
                <a href="/" class="btnCatalog">Ir al catálogo</a>
            </div>

        </div>
    </div>

</div>