<div class="container-fluid d-flex justify-content-center NewCollection">
    <div class="container w-75 contenedorNewCollection">
        <h1>nueva colección del estudio<br /><span class="nombreColeccion">"all the way to paris"</span></h1>
        <p>Desde identidades gráficas, diseños digitales, ilustraciones, catálogos de arte y museos, gráficos de exposiciones y libros, hasta alfombras, telas, objetos de diseño intrigantes e interiores.</p>
        <a href="/" class="btnNewCollection">aprende más</a>
    </div>
</div>