<div class="contenedorPrincipal OurEmotions d-flex justify-content-center">
    <div class="container w-75 contenedorOurEmotions">
        <h1>nuestras emociones en instagram</h1>
        <h1 class="cuentaIg"><a href="https://www.instagram.com/" target="_blank">@mommolights</a></h1>
    </div>
    <div class="contenedorImg">
            <div class="imgEmotions">
                <img src="img/Lamparas/Emotions/emotionColganteLeft.jpg" alt="" class="primerImg" />
                <img src="img/Lamparas/Emotions/emotionsColganteRight.jpg" alt="" class="segundaImg" />
            </div>
            <div class="imgEmotions">
                <img src="/img/Lamparas/Emotions/lamparaluzverde.jpg" alt="" class="primerImg" />
                <img src="img/Lamparas/Emotions/lamparasmesa2.jpg" alt="" class="segundaImg" />
            </div>


       
    </div>
</div>
