<a href="/" class="textoFooter" data-bs-toggle="modal" data-bs-target="#modal-politica-privacidad">politica de
    privacidad</a>
<div class="modal fade" id="modal-politica-privacidad" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">politica de privacidad</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>En MommoLights, valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo
                    recopilamos, usamos y protegemos la información personal que nos proporcionas cuando interactúas con
                    nuestra marca y utilizas nuestros productos y servicios. Te pedimos que leas atentamente esta
                    política para comprender cómo manejamos tus datos personales.

                    Información que recopilamos:

                    <span>Información de contacto:</span> 
                    Al realizar una compra o registrarte en nuestro sitio web,
                    podemos
                    recopilar tu nombre, dirección de correo electrónico, número de teléfono y dirección de envío.
                    Información de pago: Si realizas una compra, recopilaremos la información necesaria para procesar tu
                    pago, como los detalles de tu tarjeta de crédito o cuenta bancaria.
                    Información de uso: Podemos recopilar información sobre cómo interactúas con nuestro sitio web, como
                    las páginas que visitas y los productos que visualizas o compras.
                    Uso de la información:

                    <span>Personalización:</span> 
                    Utilizamos la información que recopilamos para personalizar tu
                    experiencia y
                    mostrarte productos y ofertas relevantes.
                    Procesamiento de pedidos: Utilizamos tu información de contacto y pago para procesar y enviar tus
                    pedidos.
                    <span>Comunicación:</span> 
                    Podemos utilizar tu dirección de correo electrónico para enviarte
                    actualizaciones
                    sobre tu pedido, información sobre nuevos productos y promociones. Si no deseas recibir correos
                    electrónicos de marketing, puedes darte de baja en cualquier momento.
                    <span>Mejora de nuestros servicios:</span> 
                    Analizamos la información de uso para mejorar nuestros
                    productos,
                    servicios y sitio web.
                    <span>Compartir información:</span>

                    No vendemos, alquilamos ni compartimos tu información personal con terceros para fines de marketing
                    sin tu consentimiento expreso, excepto cuando sea necesario para cumplir con la ley o proteger
                    nuestros derechos legales.
                    <span>Seguridad de la información:</span>

                    Implementamos medidas de seguridad adecuadas para proteger tu información personal contra pérdida,
                    uso indebido y acceso no autorizado.
                    Retención de datos:

                    Mantenemos tu información personal durante el tiempo necesario para cumplir con los fines
                    establecidos en esta política, a menos que la ley exija lo contrario.
                    <span>Tus derechos:</span>

                    Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. También
                    puedes solicitar la restricción del procesamiento de tus datos personales o presentar una objeción.
                    <span>Cambios en la política de privacidad:</span>

                    Podemos actualizar esta Política de Privacidad de vez en cuando. Te recomendamos que consultes
                    regularmente esta página para estar al tanto de cualquier cambio.
                    Si tienes alguna pregunta sobre nuestra Política de Privacidad o cómo procesamos tus datos
                    personales, no dudes en ponerte en contacto con nosotros a través de los canales de comunicación
                    proporcionados en nuestro sitio web.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>