<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container w-75 contenedorSecundario">
        <h1>tipos de producto</h1>
        <div class="d-flex justify-content-between contenedorProductos">
            <div class="boxLeft empotradas">
                <div class="boxLamps">
                    <img src="/img/Lamparas/ProductTypes/lamparaempotrada.jpg" alt="" />
                    <div class="contenedorTextos">
                        <p class="marca">lámparas empotradas</p>
                    </div>
                </div>
            </div>
            <div class="boxRight tipoLampara">
                <div class="boxLamps">
                    <img src="/img/Lamparas/ProductTypes/lamparadesuspension.jpg" alt="" />
                    <div class="contenedorTextos">
                        <p class="marca">colgantes</p>
                    </div>
                </div>
            </div>
            <div class="boxRight tipoLampara">
                <div class="boxLamps">
                    <img src="/img/Lamparas/ProductTypes/lamparamesa.jpg" alt="" />
                    <div class="contenedorTextos">
                        <p class="marca">lámparas portátiles de mesa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
