<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container w-75 contenedorSecundario">
        <h1>venta de colección</h1>
        <div class="d-flex justify-content-between contenedorBSellers">

            <!-- aplicar un ciclo for. son 7 productos y un espacio en blanco -->

            <div class="bsellersItem">
                <div class="boxLamps">
                    <img src="/img/Lamparas/lampara.jpg" alt="">
                    <p class="medidas">medidas</p>
                    <div class="contenedorTextos">
                        <p class="marca">nombre lampara</p>
                        <p class="precio">precio</p>
                        <p class="precioAntes">precio</p>
                        <p class="creador">creador</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>