<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container w-75 contenedorSecundario">
        <h1>venta de colección</h1>
        <div class="d-flex justify-content-between contenedorBSellers">
            <% for (let i = 0; i < 8; i++) { %>
                <div class="bsellersItem">
                  <%- include('../lampProduct.ejs', { product: products[i] }) %>
                </div>
              <% } %>
            
        </div>
    </div>
</div>