<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container w-75 contenedorSecundario">
        <h1>venta de colección</h1>
        <div class="d-flex justify-content-between contenedorBSellers">
                        <%-include('../lampProduct.ejs',{products, clase:'bsellersItem'})%>
            
        </div>
    </div>
</div>