<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container w-75 contenedorSignUp">
        <div class="suscripcion">
            <h1>Regístrate para recibir correos electrónicos</h1>
            <p>Subscríbete para recibir correos electrónicos de MommoLigths y obtén la primera información sobre nuevos
                diseñadores y sus trabajos, ventas, contenido exclusivo, eventos, los más vendidos ¡y mucho más!</p>
            <form action="" class="form">
                <input type="email" name="email" id="" placeholder="Correo electrónico" class="emailForm" />
                <button type="submit" class="btnForm">
                    <i class="bi bi-arrow-right"></i>
                </button>
            </form>
        </div>
        <div class="creadoresSignUp">
            <div class="boxLamps">
                <img src="/img/designers/NoteDesignStudio.jpg" alt="" />
                <div class="contenedorTextos">
                    <p class="creador">Estudio de Diseño Note</p>
                </div>
            </div>
        </div>
    </div>
</div>