<a href="/" class="textoFooter" data-bs-toggle="modal" data-bs-target="#modal-terminos-condiciones">términos y condiciones</a>
<div class="modal fade" id="modal-terminos-condiciones" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">términos y condiciones</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Al utilizar nuestro sitio web y realizar una compra, aceptas cumplir con los siguientes términos y condiciones:<br>

                        <span>Uso del sitio web:</span>
                        Nuestro sitio web está destinado para uso personal y no comercial.
                        No puedes utilizar el sitio web con fines ilegales o no autorizados.
                        <span>Propiedad intelectual:</span>
                        Todos los derechos de propiedad intelectual relacionados con nuestro sitio web y productos son propiedad de MommoLights.
                        No puedes utilizar, modificar, transmitir ni reproducir nuestros materiales sin nuestro permiso previo y por escrito.
                        <span>Precios y pagos:</span>
                        Los precios indicados en nuestro sitio web no incluyen impuestos ni gastos de envío, a menos que se indique lo contrario.
                        Nos reservamos el derecho de modificar los precios en cualquier momento sin previo aviso.
                        <span>Envío y entrega:</span>
                        Nos esforzamos por realizar envíos dentro de los plazos indicados en nuestro sitio web, pero no podemos garantizar tiempos de entrega exactos debido a factores externos.
                        <span>Política de devoluciones:</span>
                        Puedes devolver los productos dentro del plazo especificado en nuestra política de devoluciones, disponible en nuestro sitio web.
                        No aceptamos devoluciones de productos dañados debido a un mal uso o manipulación inapropiada.
                        <span>Limitación de responsabilidad:</span>
                        No nos hacemos responsables de ningún daño directo, indirecto, incidental, especial o consecuente que pueda surgir del uso de nuestros productos o sitio web.
                        <span>Privacidad:</span>
                        La información personal que nos proporciones está sujeta a nuestra Política de Privacidad, disponible en nuestro sitio web.
                        </span>Modificaciones de los Términos:</span>
                        Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento sin previo aviso.
                        Si tienes alguna pregunta sobre nuestros términos y condiciones, por favor contáctanos a través de los canales de comunicación proporcionados en nuestro sitio web.
                        </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
        </div>
    </div>
</div>