<a href="/" class="textoFooter" data-bs-toggle="modal" data-bs-target="#modal-terminos-envio">términos de envío</a>
<div class="modal fade" id="modal-terminos-envio" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">términos de envío</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    <span>Plazos de envío:</span>
                    Nos esforzamos por procesar y enviar tu pedido lo antes posible.
                    Los plazos de envío pueden variar según tu ubicación y el método de envío seleccionado.
                    <span>Dirección de envío:</span>
                    Debes proporcionar una dirección de envío precisa y completa al realizar tu pedido.
                    No nos hacemos responsables de los retrasos o problemas de entrega causados por información de envío
                    incorrecta o incompleta.
                    <span> Seguimiento de envío:</span>
                    Proporcionaremos información de seguimiento una vez que tu pedido sea enviado.
                    Puedes utilizar esta información para rastrear el estado de tu envío en el sitio web del
                    transportista.
                    <span>Responsabilidad de entrega:</span>
                    Nos esforzamos por garantizar una entrega segura y oportuna de tu pedido.
                    Sin embargo, no nos hacemos responsables de los retrasos o problemas de entrega causados por
                    circunstancias fuera de nuestro control.
                    Si tienes alguna pregunta sobre nuestros términos de pago o envío, no dudes en contactarnos a través
                    de los canales de comunicación proporcionados en nuestro sitio web.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>